.main_div{
  background-color: black;
  padding: 50px;

}
.heading{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 1rem;
}
.heading p {
  color: white;
}
.heading h6 {
  color: white;
}

.second__div{
  margin-top: 20px;
align-items: center;
background-color: white;
padding: 20px;
}
.second__div span{
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 5px;
}
.second__div  h6{
background-color: red;
color: white;
padding: 10px;
}
.card {
  margin-top: 30px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.final__div{
  display: flex;
  gap: 3.3rem;
}
.ticket__button{
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;

}


@media screen and (max-width: 770px) {
  .final__div{
    flex-direction: column;
    align-items: center;
  }

}